# Ignore everything
#
*

# But not these files...
!.gitignore
!nvim/**
!i3/**
!i3blocks/**
!zsh/**
!/README.md
!compton.conf
!fish/**
!polybar/**
!images/**
!trizen/**
!dunst/**

# ...even if they are in subdirectories
!*/

